<div class="container">
<h1>Create An Article</h1>
<%= render 'form' %>
  <div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-step-backward"></span><%= link_to "Back to Articles",
                                                                                                      articles_path
  %></div>
  </div>